.input {
    display: flex;
    width: 90%;
    position: relative;
    align-items: center;
}

.input_box {
    width: 100%;
    border-radius: 30px;
    padding: 20px 30px;
    font-size: 20px;
    border: none;
    transition: 0.2s;
    box-shadow: inset 0 0 4px black;
}


/* .input_box:focus {
    box-shadow: 0 0 10px 1000px rgba(0,0,0,0);
    outline: none;
} */

.input_submit {
    position: absolute;
    width: 75px;
    height: 50px;
    margin: 12px;
    border-radius: 50px;
    right: 0px;
    border: none;
    font-size: 20px;
    background-color:#A7CAB1 ;
    color: white;
    transition: 0.2 all;
    box-shadow: 0 0 10px black;
    font-weight: bold;
}

.input_submit:hover {
    background-color: #a9d5b7;
}

.input_submit:active {
    transform: scale(0.8);
    box-shadow: 0 0 5px black;
}