@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

.App {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #A7CAB1;

}

.heading {
  background-color: #A7CAB1;
  font-family: "Karla", sans-serif ;
  font-size: 75px;
  color: #306B34;
  z-index: 1;
  text-align: center;
}

@media (max-width: 800px) {
  .heading {
    margin: 15px 0;
    font-size: 35px;
  }
}